<%- include('partials/header') %>

  <!-- Page Content -->
  <div class="container container-main">

    <div class="row">

        <div class="col-lg-3">

            <h1 class="my-4">O'Fig</h1>
            <h5>Catégories</h5>
            <div class="list-group">
              <a class="list-group-item d-flex justify-content-between align-items-center" href="/category/Gentil">
                  Les gentils
                <span class="badge badge-primary badge-pill"><%= gentils.length%></span>
              </a>
              <a class="list-group-item d-flex justify-content-between align-items-center" href="/category/Méchant">
                  Les méchants
                <span class="badge badge-primary badge-pill"><%= méchants.length%></span>
              </a>
              <a class="list-group-item d-flex justify-content-between align-items-center" href="/category/Animal">
                  Les animaux
                <span class="badge badge-primary badge-pill"><%= animals.length%></span>
              </a>
            </div>
    
          </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div class="row">
          <div class="col-lg-6">
            <img class="" src="<%= figurine.image %>" alt="">
          </div>

          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                  <h3 class="card-title">
                    <%= figurine.name%>
                    <div class="badge badge-pill badge-<%= figurine.category%>"><%= figurine.category%></div>
                  </h3>
                  <p class="card-text">Taille réelle : <%= figurine.size%>cm</p>
                  <p class="card-text">$<%= figurine.price%></p>
                  <p class="card-text">3
                    Note moyenne : &#9733; &#9733; &#9733; &#9733; &#9734;
                    <br>
                    <a href="#" data-toggle="modal" data-target="#reviewsModal">Détails des avis</a>
                  </p>
                  <h5>$<%= figurine.price%></h5>
                  <p class="card-text">
                    <a href="/bookmarks/add/<%=figurine.id%>" class="link-add-bookmarks">+ Ajouter aux favoris</a>
                  </p>
              </div>
            </div>
          
          </div>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Modale des avis -->
  <div class="modal fade" id="reviewsModal" tabindex="-1" role="dialog" aria-labelledby="reviewsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="reviewsModalLabel">Avis des internautes</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

         <% reviews.map(e => { %>

          <section>
            <h5><%= e.title%> &nbsp; <small class="text-muted">
              
             <% let stars=""; %>

             <% for (count=0; count<e.note+1; count++) { %>

              <% stars = stars+"&#9733; ";%>

              <% } %>

              &#9734;</small>
            
            </h5>
            <p class="review-author">par <%= e.author%></p>
            <p><%= e.message%></p>
          </section>

          <hr>

          <%  }) %>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <%- include('partials/footer') %>
