<%- include('partials/header') %>



  <!-- Page Content -->
  <div class="container container-main">

 

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">O'Fig</h1>
        
        <h5>Catégories</h5>
        <div class="list-group">

          <a class="list-group-item d-flex justify-content-between align-items-center" href="/category/Gentil">
              Les gentils
            <span class="badge badge-primary badge-pill"><%= gentils.length%></span>
          </a>
          <a class="list-group-item d-flex justify-content-between align-items-center" href="/category/Méchant">
              Les méchants
            <span class="badge badge-primary badge-pill"><%=méchants.length%></span>
          </a>
          <a class="list-group-item d-flex justify-content-between align-items-center" href="/category/Animal">
              Les animaux
            <span class="badge badge-primary badge-pill"><%=animals.length%></span>
          </a>
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div class="row">

         <% figurines.map( e => {%>


          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="/article/<%= e.id%>">
                <img class="card-img-top" src="<%= e.image%>" alt="">
                <div class="badge-category badge badge-pill badge-<%= e.category%>"><%= e.category%></div>
              </a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="/article/<%= e.id%>"><%= e.name%></a>
                </h4>
                <h5><%= e.price%></h5>
                <p class="card-text"><%= e.description%></p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                <a href="/bookmarks/add/<%=e.id%>" class="link-add-bookmarks">+ Ajouter aux favoris</a>
              </div>
            </div>
          </div>

          <%  } ) %>
  

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->

  <%- include('partials/footer') %>
